

/* tag Selectors */

#bridge {
	float: right; 
	border-radius: 50%; 
	margin: 6%; 
	
}
#navigation {

}
#prices {
	width: 700px; 
	height: 300px;
}
.sticky {
  position: fixed;
  top: 400;
  width: 100%
}

.fatBottom {
	padding-bottom: 60px
}
.pullRight {
	float: right;
	margin-right: 700px;
	font-size: 1.2em;
}
.paddingBottom {
	padding-bottom: 15px;
}
.storyTitle {
	background-color: salmon;
}
/*.centerForm {
	text-align: center;
	}*/
	.centerObj {
		display: block;
		margin: 0 auto;
	}
	body {
		font-size: 1.3vw;
		/*font-style: Georgia, "Times New Roman", serif;*/
		font-family: 'Joti One', cursive;

		background-image: url(../images/boats.jpg);
		background-repeat: no-repeat;
		background-size: 100vw;
		background-attachment: fixed;

	}
	a {
		padding: 4px;
		text-transform: capitalize;
	}
	li {
		margin: 10px;
		margin-top: 10px
		text: justify;
	}
	ul li {
		list-style-type: none;
		line-height: 200%;

	}
	div, button, nav {

		/*background-color: #a8a8a6;*/
	}
	div, nav {
		padding: 20px;
		margin: 10px auto;

	}
	button {
		color: white;
		background-color: #caa181;
	}

	nav {
		background-color: rgba(0, 0, 0, .33);
		width: 20%;
	}

}
ul, p {

	margin: 20px

}
p {
	padding: 10px; 
}
a, div, nav {
	color: white;
}

form {
	float: right;
}
table, td, th {
	border: 1px solid black;
	text-align: center;

}
tfoot {

	background-color: orange;
	font-weight: 400;
}
thead {
	background-color: green;
}
img {
	width: 300px;
	height: 200;
}
h1, h2 {
	font-size: 3em;
}
ul li {
	list-style-type: none;
}

/*a:active {
	font-weight: 800;
	font-family: font-family: 'Lato', sans-serif;
	font-size: 3em;
	background-color: red;
	color: yellow;
}*/

a:link, a:visited {
	background-color: salmon;
	opacity: .4;
	
	
	border-radius: 10px;
	display: block;
	width: 200px;
	transition: margin-bottom .35s ease-in;
}
 
a:hover {
	background-color: rgba(255, 165, 100, .33);
	font-weight: 800;
	font-family: font-family: 'Lato', sans-serif;
	
	bottom-margin: 40px;

}	

#centerDoc a:hover {
	color: blue;
	font-weight: 800;
	font-family: font-family: 'Lato', sans-serif;
	font-size: 1em;
	
}
#menuDoc a:link {
	background-color: salmon;
	opacity: .4;
	
	
	border-radius: 10px;
	display: block;
	width: 200px;
	padding: 10px;
	bottom-margin: 40px;
}
